<?xml version="1.0"?>

<model>
  <name>sea_surface</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name></name>
    <email>L</email>
  </author>

  <description>
    water surface made using https://github.com/uuvsimulator/uuv_simulator
  </description>

</model>
