<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <include file="$(find auvsim_gazebo)/launch/auv_sdf.launch">
        <arg name="robot_name" value="auv" />
        <arg name="x" value="0.0" />
        <arg name="y" value="0.0" />
        <arg name="z" value="1.0" />
        <arg name="roll" value="0"/>
        <arg name="pitch" value="0"/>
        <arg name="yaw" value="0.0" />
        <arg name="sdf_robot_file" value="$(find auvsim_gazebo)/models/auv/model.sdf" />
    </include>
</launch>
